
h1 {
  color: green;
  font-size: 40px;
  font-family: Georgia, serif;
  text-transform: uppercase;
  text-align: center;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	border: 5px red double;

	padding: 10px;

}
.tacoshell {
	background-color: black;
	font-size: 24px;
	font-family: Arial, sans serif;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin: 15px;
	text-align: center;
	color: red;
}
.restaurantws {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 15%;
	color: red;
	font-family: Calibri;
}

h2 {color: black;
  font-size: 24x;
  font-family: Georgia, serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

 p{ 
  	font-size:  18px;
  	font-family: Arial, sans serif; 
  	width: 50%;
  	margin-left: 25%;
  	color: white;
  }

  .tacomeat{
  	color: red;
  }	

 